Build started...
Build succeeded.
CREATE TABLE "Users" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Username" character varying(50) NOT NULL,
    "Email" character varying(255) NOT NULL,
    "Password" character varying(255) NOT NULL,
    "Firstname" character varying(50) NOT NULL,
    "Lastname" character varying(50) NOT NULL,
    "UserRole" character varying(20) NOT NULL,
    "InsertedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "ModifiedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Users" PRIMARY KEY ("Id")
);


CREATE TABLE "Activities" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "Title" character varying(100) NOT NULL,
    "Description" character varying(500) NOT NULL,
    "City" character varying(50) NOT NULL,
    "Location" character varying(100) NOT NULL,
    "Category" character varying(50) NOT NULL,
    "StartDateTime" timestamp with time zone NOT NULL,
    "EndDateTime" timestamp with time zone NOT NULL,
    "MaxParticipants" integer NOT NULL,
    "CreatorId" integer NOT NULL,
    "InsertedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "ModifiedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_Activities" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_Activities_Users_CreatorId" FOREIGN KEY ("CreatorId") REFERENCES "Users" ("Id") ON DELETE RESTRICT
);


CREATE TABLE "ActivityParticipants" (
    "Id" integer GENERATED BY DEFAULT AS IDENTITY,
    "UserId" integer NOT NULL,
    "ActivityId" integer NOT NULL,
    "JoinDate" timestamp with time zone NOT NULL DEFAULT (now()),
    "Status" character varying(20) NOT NULL,
    "InsertedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "ModifiedAt" timestamp with time zone NOT NULL DEFAULT (now()),
    "IsDeleted" boolean NOT NULL,
    "DeletedAt" timestamp with time zone,
    CONSTRAINT "PK_ActivityParticipants" PRIMARY KEY ("Id"),
    CONSTRAINT "FK_ActivityParticipants_Activities_ActivityId" FOREIGN KEY ("ActivityId") REFERENCES "Activities" ("Id") ON DELETE CASCADE,
    CONSTRAINT "FK_ActivityParticipants_Users_UserId" FOREIGN KEY ("UserId") REFERENCES "Users" ("Id") ON DELETE CASCADE
);


CREATE INDEX "IX_Activities_CreatorId" ON "Activities" ("CreatorId");


CREATE UNIQUE INDEX "IX_ActivityParticipants_ActivityId_UserId" ON "ActivityParticipants" ("ActivityId", "UserId");


CREATE INDEX "IX_ActivityParticipants_UserId" ON "ActivityParticipants" ("UserId");


CREATE UNIQUE INDEX "IX_Users_Email" ON "Users" ("Email");


CREATE UNIQUE INDEX "IX_Users_Username" ON "Users" ("Username");



